body{
  color: #40514E;
  margin: 0;
  text-align: center;
  line-height:2;

}
h1{
  margin-top:50px;
font-family:inherit;
font-size: 90px;
color: #14c2d9;

}
h1:hover{
  transform: scale(1.5);

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-style: oblique;
  font-size: 2.5rem;
  color: #14c2d9;
}
h3{
  color: #11999E;
}
a{
  color: #11999E;
}


.img-cloud1{
  position: absolute;
  right: 400px;
  top: 50px;
}
.img-cloud1:hover{
  transform:translateX(80px);


}
.img-cloud2{
  position:absolute;
  left: 300px;
  bottom: 300px;

}
.img-cloud2:hover{
  transform:scale(1.5);
}

.skill-row{
  width:50%;
margin: 100px auto 100px auto;
  text-align:left;
}
.Design-Development{
  width: 30%;
  float: left;
margin-right: 20px;


}
.Andriod{
  width: 30%;
  float: right;
  margin-left: 30px;

}
.skill-rowprg img{

height: 80px;
}
.skill-rowprg img:hover{
 transform: scale(1.2);

}
.top-container{

  background-color: #B8E4FC;
  position: relative;
  padding-top: 100px;

}
.intro-paragraph{
  width: 30%;
  margin: auto;
}
.intro-paragraph:hover{
  transform:scale(1.8);
  font-family:sans-serif;

}
.middle-container{
  margin: 40px 0 ;
}
.bottom-container{
    background-color: #B8E9FC;
    padding:30px 0 20px 0;


}

.btn{
  text-decoration: none;
  background: #103a57;
 background-image: -webkit-linear-gradient(top, #103a57, #88b0c9);
 background-image: -moz-linear-gradient(top, #103a57, #88b0c9);
 background-image: -ms-linear-gradient(top, #103a57, #88b0c9);
 background-image: -o-linear-gradient(top, #103a57, #88b0c9);
 background-image: linear-gradient(to bottom, #103a57, #88b0c9);
 -webkit-border-radius: 15;
 -moz-border-radius: 15;
 border-radius: 15px;
 font-family: Courier New;
 color: #FFFFFF;
 font-size: 34px;
 padding: 11px 20px 10px 20px;
 border: solid #3999d4 6px;


}
.btn:hover {
  background:#4CAF50;
  text-decoration: none;
}
a{
  color:blue;
  font-family: monospace;
font-size: 20px;
  text-decoration: none;
  margin: 10px 20px ;
}
a:hover{
  background-color: #777799;
  color:white;

}
.copyright{
  color: #7b4b7d;
  font-size: 20px;
}

.profile-circle{
  height: 250px;
  width: 250px;

}

hr{
  border-style: none;
  border-top-style: dotted;
border-width: 5px;
  border-color: grey;
  width:5%;
  margin: 100px auto;
}
.bottom-container{
  margin-top: 40px;
}
